<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
    All Projects
  <% end %>
  <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1><%= @project.title %></h1>
</div>
